---
import CommonLayout from "../modules/common/components/CommonLayout.astro";
---

<CommonLayout>
    <div class="flex flex-col gap-2 items-center justify-center h-screen">
        <h1 class="text-3xl font-bold font-heading">Static Website Boilerplate</h1>

        <button id="sample-button" class="btn btn-primary font-body">Hello</button>
    </div>
</CommonLayout>

<script>
    const button = document.getElementById("sample-button");
    
    if (button) {
    button.addEventListener("click", () => {
            window.alert("World");
        });
    }
</script>
